#scope-search {
    padding: 20px;
    outline: none;
}

#scope-search > button {
    opacity: 0.12;
    border-radius: 50px;
    /* background-color: #3742fa; */
    background: #4e54c8;
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
    background: linear-gradient(to right, #8f94fb, #4e54c8);
    width: 100px;
    height: 40px;
    border: 1px solid blue;
    color: white;
    position: relative;
    z-index: 10;
    outline: none;
}

#scope-search > button.active {
    border-radius: 50px 0 0 50px;
    width: 80px;
    outline: none;
}

#scope-search > input[type=text] {
    transform: translateX(-100px);
    border: none;
    vertical-align: top;
    padding: 0;
    height: 40px;
    max-width: 0px;
    transition: .2s ease-in-out all;
    position: relative;
    outline: none;
}

#scope-search > input[type=text].active {
    display: inline;
    border: 1px solid blue;
    padding: 2px 10px;
    font-size: 16px;
    width: 160px;
    height: 34px;
    max-width: 160px;
    transform: translateX(-3px);
    transition: .2s ease-in-out all;
    border-radius: 0px 50px 50px 0px;

    outline: none;
}

#scope-search > input[type=text].active.suggestions {
    border-radius: 0 50px 5px 0px;
}

#scope-search > #search-suggestions.empty {
    height: 0;
    padding: 0;
    border: none;
}

#scope-search > #search-suggestions {
    width: 160px;
    position: relative;
    left: 79px;
    top: -1px;
    border: 1px solid blue;
    padding: 10px;
    background-color: #white;
}

#scope-search .search-results {
    font-size: 12px;
    padding: 2px 0px;
}

#scope-search .search-results a {
    color: blue;
    cursor: pointer;
    margin-right: 5px;
}

#scope-search .search-results .timestamps {
    float: right;
}
